.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000319;
  z-index: 10000;
  top: 0;
  left: 0;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.container img {
  border-bottom: 10px solid rgb(255, 255, 255);
  color: white;

}

.container h1 {
  color: rgb(255, 255, 255);
}
